   html {
       scroll-behavior: smooth;
       background: #000;

   }

   .home {
       cursor: pointer;
   }

   .home:hover {
       -webkit-transform: scale(1.1);
       transform: scale(1.1);
       text-decoration: underline;
   }

   .ho {
       cursor: pointer;
       font-size: 25px;
       font-weight: bolder;
       background: linear-gradient(to right, #8546eb, #2247dd);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
   }

   .ho:hover {

       text-decoration: underline;
   }

   #lgs {
       display: flex;
       flex-direction: row;
       position: absolute;
       top: 0;
       right: 5px;
       gap: 5px;
       overflow: hidden;


   }

   body {
       font-family: Arial, sans-serif;
       width: screen;
       height: screen;

   }

   .nav-bar {
       position: sticky;
       top: 0%;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       text-align: center;
       padding-left: 15px;
       padding-right: 15px;
       padding-bottom: 5px;
       padding-top: 5px;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       z-index: 1000;
       background-color: white;
       overflow: hidden;

   }


   #logo {
       line-height: 1%;
       text-align: center;
       font-style: italic;
       overflow: hidden;
       background: linear-gradient(to right, #ae93d8, #2247dd);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
   }


   #krys {
       font-size: 30px;
       font-weight: bolder;
       text-decoration-line: underline;
       text-underline-offset: 0.2em;


   }

   #smart {
       font-size: 12px;

   }

   .fa-solid {
       color: white;
   }

   .bt {
       cursor: pointer;
       background-color: transparent;
       color: black;
       padding: 3px 5px;
       font-size: 1rem;
       border-radius: 100px;
       margin: 0 10px;
       box-shadow: 0 1px 1px 1px rgba(94, 77, 191, 0.2), 0 3px 5px 0 rgba(24, 68, 148, 0.19);

   }


   #nav-text {
       font-size: 20px;
       background-color: transparent;
       position: fixed;
       top: 5.5rem;
       right: 1rem;
       color: white;
       line-height: .5;
       padding: 5px;
       border: 2px solid transparent;
       border-image: linear-gradient(45deg, #940dc2, #feb47b) 1;
       border-radius: 10px;
       z-index: 1024;

   }



   .black {
       background: black;
       position: absolute;
       top: 0;
       height: 2000px;
       width: 100%;
       opacity: 0;
   }

   .hero {
       display: flex;
       flex-wrap: wrap;
       background-image: url('https://images.unsplash.com/photo-1557682250-33bd709cbe85?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHVycGxlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D');
       background-repeat: no-repeat;
       background-size: cover;
       margin-top: 20px;
       color: white;
       padding: 20px;
       overflow: hidden;

   }

   #text {
       width: 700px;
   }

   #org {
       font-weight: bold;
       font-size: 40px;
   }

   #plan {
       font-size: 20px;
       line-height: 1.5;
   }

   .start {
       color: black;
       background-color: white;
       padding: 1rem 2rem;
       border: none;
       border-radius: 100px;
       font-size: 1.2rem;
       transition: 0.3s ease;
   }

   .start:hover {
       background: gray;
       opacity: 10px;
       cursor: pointer;
   }

   #benefits {
       margin-top: 8rem;
       color: white;
       overflow: hidden;


   }

   .why {
       font-size: 30px;
       padding: 0 50px;
   }

   .pro {
       margin-top: 5rem;
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 40px;
   }

   .its {
       width: 300px;
   }


   .img {
       height: 300px;
       width: 300px;
       box-shadow: 0 8px 8px 2px rgba(246, 0, 123, 0.2), 0 6px 20px 0 rgba(36, 110, 249, 0.19);
       border: 2px solid transparent;
       border-image: linear-gradient(45deg, #940dc2, #2604bf) 1;
   }

   .ft {
       font-size: 25px;
   }

   #content {
       font-size: 20px;
       line-height: 25px;
   }

   #feature {
       /* position: absolute;
       top: 8rem; */
       /* width: 99%; */
       overflow: hidden;
       margin-top: 20px;
   }

   .feature {
       background-image: linear-gradient(to right, rgb(3, 3, 228), rgb(218, 212, 212), rgb(57, 62, 208));
       padding: 10px;
       display: flex;
       justify-content: center;
       overflow: hidden;

   }

   .credit {
       color: white;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-top: 5rem;
   }

   .imahe {
       display: flex;
       gap: 10px;
       margin-top: 20px;
   }

   .afford {
       text-align: center;


   }

   .p {
       font-size: 2.5rem;
       font-weight: bolder;
   }

   .c {
       font-size: 1.2rem;
       width: 850px;
   }

   .image {
       width: 100px;
       height: 50px;
       border-radius: 10px;
       background-color: white;
       border: 2px ridge white;
       cursor: pointer;
   }

   .image:hover {
       -webkit-transform: scale(1.1);
       transform: scale(1.1);

   }

   .plus {
       font-size: 1.2rem;
       cursor: pointer;
       margin-top: 20px;
   }

   .plus:hover {
       -webkit-transform: scale(1.1);
       transform: scale(1.1);
       text-decoration: underline;
       text-underline-offset: 10px;
   }

   .track {
       width: 600px;
       text-align: center;
       overflow: hidden;
   }

   .btns {
       margin-top: 3rem;
       margin-bottom: 3rem;

   }

   .btn {
       color: black;
       background-color: white;
       padding: 5px 10px;
       border: none;
       border-radius: 100px;
       font-size: 1.2rem;
       transition: 0.3s ease;
       box-shadow: 0 2px 2px rgba(117, 115, 115, 0.6);
       margin-right: 2rem;
       cursor: pointer;
   }



   .btn-2 {
       cursor: pointer;
       border: 1px solid white;
       background-color: transparent;
       color: #ffffff;
       padding: 5px 10px;
       font-size: 1.2rem;
       box-shadow: 0 2px 2px rgba(117, 115, 115, 0.6);
       border-radius: 100px;
   }

   .container {
       margin-top: 30px;
       display: flex;
       justify-content: center;
       align-items: center;
       overflow: hidden;

   }

   .more {
       margin-top: 100px;
       gap: 100px;
       overflow: hidden;
       display: grid;
       grid-template-columns: repeat(2, minmax(0, 1fr));
   }

   .offer {
       cursor: pointer;
       border: 1px solid white;
       background-color: transparent;
       color: white;
       font-size: 1.2rem;
       box-shadow: 0 2px 2px rgba(117, 115, 115, 0.6);
       border-radius: 20px;
       height: 600px;
       width: 400px;
       overflow: hidden;


   }


   #ai {
       background: linear-gradient(to right, #9e78db, #4766e3);
       color: white;
       border: none;
       padding: 10px 20px;
       font-size: 16px;
       transition: background 0.3s ease;
   }


   .person {
       margin: 20px;

   }

   .people {
       margin-left: 5px;
       font-size: 25px;

   }

   .indent {
       font-weight: bolder;
       margin: 20px;
       background: linear-gradient(to right, #ae93d8, #2247dd);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
   }

   .price {
       margin-left: 10px;
   }

   .hr {
       margin: 0 10px;
       opacity: 50%;
   }

   .btn-con {
       display: flex;
       align-items: center;
       justify-content: center;
   }

   .btn-3 {
       color: white;
       background: linear-gradient(to right, #9469d9, #4766e3);
       padding: 10px 15px;
       border: none;
       border-radius: 100px;
       font-size: 1.2rem;
       transition: 0.3s ease;
       box-shadow: 0 2px 2px rgba(77, 233, 233, 0.6);
       margin-right: 2rem;
       cursor: pointer;
       margin-top: 10px;

   }

   .parag {
       margin: 30px 20px;
       font-size: 15px;
       text-align: center;
   }

   .list {
       font-size: 19px;
       line-height: 30px;
   }

   .try {
       color: white;
       display: flex;
       flex-direction: column;
       justify-content: center;
       text-align: center;
       align-items: center;
       margin: 60px 0;
   }

   .e {
       font-size: 1.5rem;
       font-weight: bolder;
   }

   .x {
       font-size: 1.2rem;
       width: 850px;
   }

   .pl {
       color: white;
       margin: 20px 30px;
   }

   .des {
       margin-top: 30px;
       display: flex;
       justify-content: center;
       align-items: center;
       overflow: hidden;

   }

   .ign {
       margin-top: 40px;
       gap: 100px;
       overflow: hidden;
       display: grid;
       grid-template-columns: repeat(3, minmax(0, 1fr));
   }

   .idk {
       width: 350px;
       border-radius: 20px;
       background: linear-gradient(to right, #6e26e3, #4766e3);
       overflow: hidden;
       padding: 1px;

   }

   .bImg {
       width: 350px;
       height: 350px;
       border: 1px solid transparent;
       border-image: linear-gradient(45deg, #fdffff, #ffffff) 1;

   }

   .f {
       font-size: 24px;
       font-weight: bold;
       padding: 0 8px;

   }

   .i {
       font-size: 1 rem;
       padding: 0 8px;
   }

   .footer {
       background: #2c282c;
       color: rgb(255, 255, 255);
       overflow: hidden;
       margin-top: 200px;
       padding: 20px 50px;

   }

   .f-mother {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
   }

   .f-space {
       margin: 5px 0;
   }

   /* .f-image {
       height: 70px;
       width: 100px;
       border-radius: 10px;
       opacity: 50%;
   } */

   .f-svg {
       display: flex;
       flex-direction: row;
       gap: 5px;
       margin-bottom: 5px;
   }

   svg {
       padding: 5px;
       border: 2px solid gray;
       border-radius: 100%;
       height: 20px;
       width: 20px;
       cursor: pointer;
   }

   svg:hover {
       background: rgb(177, 119, 218);
       -webkit-transform: scale(1.5);
       transform: scale(1.1);
   }

   .fText {
       display: flex;
       gap: 2rem;
   }

   .spacey {
       margin: 3px 0;
   }

   .copyRight {
       color: white;
   }

   #flogo {
       line-height: 1%;
       font-style: italic;
       overflow: hidden;
       background: linear-gradient(to right, #ae93d8, #2247dd);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
   }


   #fkrys {
       font-size: 30px;
       font-weight: bolder;
       text-decoration-line: underline;
       text-underline-offset: 0.2em;


   }

   #fsmart {
       font-size: 12px;

   }

   .fl {
       font-weight: bolder;
       font-size: 15px;
   }

   .mfh {
       line-height: 10px;
       text-align: start;
   }

   .fh {
       font-size: 12pxrem;
       cursor: pointer;
   }

   .fh:hover {
       text-decoration: underline;
       text-underline-offset: 4px;
       color: rgb(224, 217, 228);

   }

   .fq {
       width: 300px;
       font-size: 1.2rem;
   }

   .last {
       font-weight: bold;
   }

   /* responsive code */

   /* tablet */

   @media(max-width:1024px) {
       .nav-bar {
           overflow: hidden;
           padding-left: 10px;
           padding-right: 10px;
           padding-bottom: 3px;
           padding-top: 3px;
           overflow: hidden;
       }

       #logo {
           line-height: .5;
       }

       #krys {
           font-size: 27px;
       }

       #smart {
           font-size: 20px;

       }

       .ho {
           cursor: pointer;
           font-size: 0;
           font-weight: bolder;
       }



       #lgs {
           color: white;

       }


       .fa-solid {
           margin-top: 7px;
           font-size: 24px;
           padding: 11px 0;
           background: linear-gradient(to right, #ae93d8, #2247dd);
           -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;
           cursor: pointer;
       }



       #nav-text {
           font-size:1rem;
           top: 4rem;
           background-color: white;
           color: #000;
       }
       .home{
        font-size: 1.2rem;
       }

       #text {
           width: 500px;
       }

       #org {
           font-weight: bold;
           font-size: 35px;
       }

       #plan {
           font-size: 18px;
           line-height: 1.5;
       }

       .start {
           padding: 10px 10px;
           font-size: 16px;
       }




       .why {
           font-size: 25px;
           text-align: center;
       }

       .img {
           height: 200px;
           width: 200px;

       }


       .mth {
           display: flex;
           justify-content: center;
           align-items: center;

       }

       .pro {
           margin: 0 20px;
           margin-top: 5rem;
           gap: 30px;
           display: grid;
           grid-template-columns: repeat(2, minmax(0, 1fr));

       }

       .its {
           width: 200px;
       }

       #content {
           font-size: 18px;
           line-height: 25px;
       }

       .btn {
           margin-top: 3rem;
           margin-bottom: 3rem;

       }


       .p {
           font-size: 2rem;
           font-weight: bolder;
       }

       .c {
           font-size: 1rem;
           width: 700px;
       }

       .image {
           width: 100px;
           height: 50px;
       }

       .more {
           margin-top: 100px;
           gap: 100px;
           overflow: hidden;
           display: grid;
           grid-template-columns: repeat(1, minmax(0, 1fr));

       }

       .offer {
           cursor: pointer;
           border: 1px solid white;
           background-color: transparent;
           color: white;
           font-size: 1.2rem;
           box-shadow: 0 2px 2px rgba(117, 115, 115, 0.6);
           border-radius: 20px;
           height: 600px;
           width: 400px;
           overflow: hidden;
       }


       .ign {
           margin-top: 100px;
           gap: 60px;
           overflow: hidden;
           display: grid;
           grid-template-columns: repeat(2, minmax(0, 1fr));
       }

       .idk {
           width: 300px;
       }

       .bImg {
           width: 300px;
           height: 250px;
       }

       .f {
           font-size: 20px;
           font-weight: bold;
       }

       .i {
           font-size: .9rem;
       }

       .fText {
           gap: 1rem;
       }

       .fl {
           font-size: .8
       }

       .fh {
           line-height: 15px;
       }

       .fq {
           width: 210px;
       }

       .footer {
           background: #13121a;
           color: white;
           overflow: hidden;
           margin-top: 200px;
           padding: 20px 10px;

       }


   }


   /* mobile */
   @media(max-width:480px) {
       .nav-bar {
           overflow: hidden;
           padding-left: 5px;
           padding-right: 5px;
           padding-bottom: 3px;
           padding-top: 3px;
           overflow: hidden;
           width: 98%;
       }

       #logo {
           line-height: .5;
       }

       #krys {
           font-size: 25px;
       }

       #smart {
           font-size: 18px;
           line-height: 1.2;

       }

       #nav-text {
           font-size: 10px;
           top: 4rem;
           right: 10px;
           background-color: white;
           color: #000;
           padding: 2px;
       }

       #text {
           width: 300px;
       }

       #org {
           font-weight: bold;
           font-size: 25px;
       }

       #plan {
           font-size: 16px;
           line-height: 1.5;
       }

       .start {
           padding: 10px 10px;
           font-size: 16px;
       }



       .why {
           font-size: 20px;
           text-align: center;
       }

       .mth {
           display: flex;
           justify-content: center;
           align-items: center;

       }

       .pro {
           margin-top: 5rem;
           gap: 100px;
           display: grid;
           grid-template-columns: repeat(1, minmax(0, 1fr));
       }



       .btn {
           margin-bottom: 1rem;

       }


       .p {
           font-size: 1.5rem;
           font-weight: bolder;
       }

       .c {
           font-size: .8rem;
           width: 340px;
       }

       .image {
           width: 70px;
           height: 40px;
       }

       .more {
           margin-top: 100px;
           gap: 50px;
           overflow: hidden;
           display: grid;
           grid-template-columns: repeat(1, minmax(0, 1fr));
       }

       .offer {
           cursor: pointer;
           border: 1px solid white;
           background-color: transparent;
           color: white;
           font-size: 1.2rem;
           box-shadow: 0 2px 2px rgba(117, 115, 115, 0.6);
           border-radius: 20px;
           height: 600px;
           width: 300px;
           overflow: hidden;


       }

       .e {
           font-size: 1.5rem;
           font-weight: bolder;
       }

       .x {
           font-size: .8rem;
           width: 350px;
       }


       .ign {
           margin-top: 50px;
           gap: 100px;
           overflow: hidden;
           display: grid;
           grid-template-columns: repeat(1, minmax(0, 1fr));
       }

       .idk {
           width: 250px;
       }

       .bImg {
           width: 250px;
           height: 250px;
       }

       .f {
           font-size: 20px;
           font-weight: bold;
       }

       .i {
           font-size: .9rem;
       }

       .plam {
           font-size: 1.2rem;
       }

       .f-mother {
           display: flex;
           flex-direction: column;
       }

       .fText {
           flex-direction: column;
       }



   }